<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400&display=swap">
    <title>Caligula_shop</title>
    
</head>
<body>
    <div class="background-container">
        <div class="overlay">
            <div class="content">
                <div class="main-text">
                    A style that<br />leaves a mark
                </div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <button class="transparent-button">Shop now</button>
                </a>
                
            </div>
        </div>
    </div>
</body>
</html>
