@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<span><strong>1. Information We Collect:</strong></span>
<p>We collect personal information such as names, addresses, email addresses, and payment details, solely for the purpose of processing orders and improving our services.</p>

<span><strong>2. How We Use Your Information:</strong></span>
<p>We use the collected information to process orders, communicate with customers, and enhance the shopping experience. We do not sell or share your personal information with third parties for marketing purposes.</p>

<span><strong>3. Security:</strong></span>
<p>We prioritize the security of your personal information. All transactions are encrypted, and we follow industry best practices to protect your data.</p>

<span><strong>4. Cookies:</strong></span>
<p>We use cookies to improve site functionality and personalize your experience. You can choose to disable cookies in your browser settings.</p>

<span><strong>5. Third-Party Services:</strong></span>
<p>We may use third-party services for analytics and marketing. These services may collect information in accordance with their own privacy policies.</p>

<span><strong>6. Your Rights:</strong></span>
<p>You have the right to access, correct, or delete your personal information. Please contact us at <a href="mailto:caligulashop@protonmail.com" title="Email us"><strong>caligulashop@protonmail.com</strong></a> for any inquiries.</p>

<span><strong>7. Changes to the Privacy Policy:</strong></span>
<p>We reserve the right to update our privacy policy. Any changes will be communicated through our <a asp-area="" asp-controller="Home" asp-action="Index"><strong>website</strong></a>.</p>

<span><strong>8. Contact Information:</strong></span>
<p>If you have any questions or concerns regarding our privacy policy, please contact us at <a href="mailto:caligulashop@protonmail.com" title="Email us"><strong>caligulashop@protonmail.com</strong></a>.</p>

<p>By using Caligula_shop, you agree to the terms outlined in this privacy policy.</p>

