<div class="text-center">
    <h1>Inquiry Conformation</h1>
    <p>We have received your inquiry!</p>
    <a class="btn btn-dark p-2" asp-area="" asp-controller="Home" asp-action="Index">Continue shopping</a>
</div>